.page-title {
    font-size: 60px;
    background-color: rgb(38, 38, 96);
    color: white;
    padding: 15px;
    margin-bottom: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(3, 3, 35);
}

.blob-space {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.blob {
    background-color: rgb(32, 32, 81);
    display: grid;
    flex-direction: row;
    grid-template-rows: 40px 1fr;

    border-radius: 30px;
    width: 1000px;
    justify-content: center;

    margin-bottom: 100px
}

.blob-title {
    color: white;
    font-size: 30px;
    background-color: rgb(12, 46, 75);
    padding: 30px;
    border-radius: 20px;
    height: 40px;

    display: flex;
    justify-content: center;
}

.blob-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgba(255, 255, 255, 0.843);

    margin: 75px;
    padding: 30px;
}

.blob-content img {
    height: 250px;
    margin-right: 30px;
}

.blob-content a {
    color: rgba(255, 255, 255, 0.843);
}

.return-home {
    background-color: rgb(38, 38, 96);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 50px
}

.return-home a {
    color: white;
}

.return-home a:hover {
    color: blue;
}